{% extends 'base/base.html' %}
{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ header.bg_img.url }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>{{ header.title }}</h1>
                        <span class="subheading">{{ header.sub_title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>{{ header.content|safe }}</p>
            </div>
        </div>
    </div>

    <hr>
{% endblock %}
